<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="searchTable">
    <table cellspacing="2"  class="table table-hover" >
        <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Date Of Birth</th>
            <th scope="col">Gender</th>
            <th scope="col">CMND</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Email</th>
            <th scope="col">Address</th>
            <th scope="col">Customer Type</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="customer : ${customerList}">
            <td scope="col" th:text="${customer.id}"></td>
            <td scope="col" th:text="${customer.name}"></td>
            <td scope="col" th:text="${customer.dateOfBirth}"></td>
            <th:block th:switch="${customer.gender}">
                <td scope="col" th:case="0">Male</td>
                <td scope="col" th:case="1">Female</td>
                <td scope="col" th:case="*">Other</td>
            </th:block>

            <td scope="col" th:text="${customer.cmnd}"></td>
            <td scope="col" th:text="${customer.phoneNumb}"></td>
            <td scope="col" th:text="${customer.email}"></td>
            <td scope="col" th:text="${customer.address}"></td>
            <td scope="col" th:text="${customer.customerType.name}"></td>

            <td scope="col">
                <!--                            <a th:href="@{/customer/view/{id}(id=${customer.id})}" class="btn btn-outline-info" >-->
                <!--                                View-->
                <!--                            </a>-->
                <button class="btn btn-outline-info btn-lg btnModalView" id="btnModalView">View</button>
                <input type="hidden" th:value="${customer.id}">

                <!--                                <span class="oi oi-plus" title="icon name" aria-hidden="true"></span>                            </a>-->
                <a th:href="@{/customer/{id}/edit(id=${customer.id})}" class="btn btn-outline-dark">
                    Edit
                </a>
                <button type="button" class="btn btn-danger" id="btnModalDelete"
                        th:onclick="'javascript:showDelete(\''+ ${customer.id} + '\');'">
                    Delete
                </button>
                <!--                            <button class="btn btn-outline-danger btn-lg btnModalDelete" id="btnModalDelete">Delete</button>-->
                <!--                            <input type="hidden" th:value="${customer.id}">-->

                <!--                            <a th:href="@{/customer/{id}/delete(id=${customer.id})}" class="btn btn-outline-danger"-->
                <!--                               data-toggle="modal" data-target="#modelId" th:onclick="'onDel('+${customer.id}+')'">-->
                <!--                                Delete-->
                <!--                            </a>-->

            </td>
        </tr>
        </tbody>

    </table>
</div>
<script>
    $(document).ready(function () {
        $("#btnModalCreate").click(function () {
            $.ajax({
                type: "GET",
                url: "customer/create",
                dataType: "HTML",
                success: function (data) {
                    $(".modal-body").html(data);
                    $("#modelId").modal('show');
                }
            });
        });
    });
</script>
<!--ajax delete modal-->
<script>
    // $(document).ready(function () {
    //     $("#btnModalDelete").click(function () {
    //         console.log($(this).next());
    //         $.ajax({
    //             type: "GET",
    //             url: "customer/delete/" + $(this).next().val(),
    //             dataType: "HTML",
    //             success: function (data) {
    //                 console.log(data)
    //                 let mess= "Xoa Thanh Cong!"
    //                 $("#modelId").modal('hide');
    //                 $(".modal-body").html(data);
    //                 $(".modal-body").html(data);
    //                 $("#modelId").modal('show');
    //             }
    //         });
    //     });
    // });
    function showDelete(id) {
        $.ajax({
            type: "GET",
            url: "customer/delete/"+id,
            dataType: "HTML",
            success: function (data) {
                $(".modal-body").html(data);
                $("#modelId").modal('show');
            }
        })
    }
    function actionDelete(id){
        $.ajax({
            type: "POST",
            url: "customer/actionDelete/" + id,
            dataType: "HTML",
            success: function (data) {
                var messageDelete = "Delete!!!";
                $("#modelId").modal('hide');
                $("#searchTable").html(data);
                $(".modal-body").html(messageDelete);
                $("#modelId").modal('show');
            }
        })
    }
</script>

<!--ajax View modal-->
<script>
    $(document).ready(function () {
        $("#btnModalView").click(function () {
            console.log($(this).next());
            $.ajax({
                type: "GET",
                url: "customer/view/" + $(this).next().val(),
                dataType: "HTML",
                success: function (data) {
                    $(".modal-body").html(data);
                    $("#modelId").modal('show');
                }
            });
        });
    });
</script>
</body>
</html>